{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}

{% block content %}
<h1 class="my-4">Admin Dashboard</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Welcome, {{ current_user.username }}!</h5>
        <p class="card-text">This is your admin panel. You can manage the system from here.</p>
        <a href="{{ url_for('admin_menu') }}" class="btn btn-primary">Управление меню</a>
        <a href="{{ url_for('admin_logout') }}" class="btn btn-danger">Logout</a>
    </div>
</div>
{% endblock %}