{% extends "base_site.html" %}

{% block content %}
<div class="container container-form text-center animated">
    <h2 class="mb-4">Оформление заказа</h2>
    <p class="lead mb-4">Вы уже зарегистрированы у нас?</p>
    
    <div class="d-flex justify-content-center gap-4 mt-4 flex-wrap">
        <a href="{{ url_for('find_client') }}" class="btn choice-btn btn-success">Да</a>
        <a href="{{ url_for('register_client') }}" class="btn choice-btn btn-primary">Нет, зарегистрироваться</a>
    </div>
</div>
{% endblock %}